.Credentials-box{
  margin-bottom: 70px;
  .title{
    font-size: 24px;
    color:#616161 ;
    margin-top: 34px;

    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 34px;
  }
  .description{
    font-size: 12px;
    font-family: Tahoma,sans-serif;
    color: #838383;
    font-style: normal;
  }
  .sub-action{
    font-size: 12px;
    font-family: Tahoma,sans-serif;
    font-style: normal;
    text-decoration: underline;
    color: #9f9f9f;
    margin-top: 36px;
  }
  .info-box{
    .key{
      font-size: 12px;
      font-family: Tahoma,sans-serif;
      color: #838383;
      font-style: normal;
    }
    .value{
      font-size: 12px;
      font-family: Tahoma,sans-serif;
      color: #838383;
      font-style: normal;
      a{
        font-size: 12px;
        font-family: Tahoma,sans-serif;
        color: #838383;
        font-style: normal;
      }
    }
    .map{
      margin-top: 18px;
    }
  }
  form{
    margin-top: 19px;
    input::placeholder{
      font-size: 12px;
      color: #9f9f9f;
      font-family: Arial, sans-serif;
      font-style: normal;
    }
    textarea::placeholder{
      font-size: 12px;
      color: #9f9f9f;
      font-family: Arial, sans-serif;
      font-style: normal;
    }
    .ant-input{
      border-radius: 0;
      height: 50px;
    }
    button{
      background-color: #2a292c;
      font-size: 14px;
      color: #bebebe;
      font-style: normal;
      letter-spacing: 5px;
      border-color:#2a292c ;
    }
    button:hover{
      box-shadow: none;
      color: #303030;
      border-color:#2a292c ;

      background-color: #fff;

    }
    button:focus{
      box-shadow: none;
      color: #303030;
      border-color:#2a292c ;

      background-color: #fff;

    }
    button:active{
      box-shadow: none;
      color: #303030;
      border-color:#2a292c ;

      background-color: #fff;

    }
  }
}
